@page
@model MyStore_WebApp.Pages.StaffOrder.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="get">
    <div class="form-group">
        <label for="searchDate">Order Date:</label>
        <input type="date" class="form-control" id="searchDate" name="SearchDate" value="@Model.SearchDate?.ToString("yyyy-MM-dd")" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <a asp-page="./Index" class="btn btn-secondary">Clear Filter</a>
</form>

<p>
    <a asp-page="/StaffOrder/Create">Create Order</a>

</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Staff.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.Name)
                </td>
                <td>
                    
                    <a asp-page="./OrderDetail" asp-route-orderId="@item.OrderId">Show Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.OrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>